@media screen and (min-width: 993px) {
    .d1 {
      width: 70%;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 992px) {
      .d1 {
        width: 80%;
        margin: auto;
      }
}
  
  
    
  @media screen and (max-width: 360px) {
      .d1 {
        width: 100%;
      }
}